.infoImage:hover{
    transform: scale(1.25);
    transition: 0.7s;
    cursor: pointer;
}

#mainContainer {
    width: 50%;
}

@media (max-width: 768px) {
    #mainContainer {
        width: 100%;
    }
}